// 整体的背景色
$light-bg-color: #f0f2f5;
$dark-bg-color: #121212;

// element-plus文字颜色
$text-light-color: #303133; // 主文字颜色，亮模式下常用的较深色
$text-dark-color: #e5eaf3;  // 主文字颜色，暗黑模式下常用的较亮色

// hover 背景色
$hover-light-color: #f6f6f6;
$hover-dark-color: #3f3f3fc4;

// 部分块的背景色
$block-bg-light-color: #fff;
$block-bg-dark-color: #1e1e1e;
